name: Generate PNGs

on:
  pull_request:
    branches:
      - master

jobs:
  convert-svg-to-png:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Inkscape
        run: |
          sudo apt install inkscape

      - name: Install Pngquant
        run: |
          sudo apt install pngquant

      - name: Convert SVGs to PNGs
        run: |
          # Fetch the latest master branch
          git fetch origin master

          # Find updated svg files, compare to master branch (can't compare to previous commit because the conversion is done in remote)
          updated_files=$(git diff --name-only origin/master -- '*.svg')

          # If no files were found, process all SVG files
          if [ -z "$updated_files" ]; then
            updated_files=$(find ./ -type f -name "*.svg")
          fi

          # Count the number of updated files
          updated_files_count=$(echo "$updated_files" | wc -l)

          # Convert updated svg files to png
          for file in $updated_files; do
              progress=$((progress + 1))
              percentage=$((progress * 100 / updated_files_count))
              filled=$((percentage / 2))
              unfilled=$((50 - filled))
              
              printf "\rProgress: [%${filled}s%${unfilled}s] %d%%" "$(printf '#%.0s' $(seq 1 $filled))" "$(printf ' %.0s' $(seq 1 $unfilled))" "$percentage"
              png_file="${file%.svg} 4k"
              # convert -background none -density 700 "$file" -quality 100 -resize 4000 "$png_file"
              inkscape "$file" --export-background-opacity=0 -h 4000 -o "$png_file".temp.png
              pngquant -f --quality 100 "$png_file".temp.png --output "$png_file".png
              rm "$png_file".temp.png
          done
          echo

      - name: Commit and Push Converted PNGs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git fetch origin "${GITHUB_HEAD_REF}"
          git checkout "${GITHUB_HEAD_REF}"
          git add .
          git commit -m "Generate PNGs"
          git push origin "${GITHUB_HEAD_REF}"
